*{
    margin-top: 0;
    padding: 0;
}
nav{
    background-color: #1b1a1a;
    height: 100px;
    display: flex;
    align-items: center;
    color: wheat;
}

.name{
    font-size: 1.25rem;
    display: flex;
    flex-direction: row-reverse;
    font-family: cursive;
    color: azure
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    font-family: sans-serif;
    font-weight:bolder;
    display: flex;
    align-items: center;
    padding: 0px 45px;
    cursor: pointer;
}

nav ul li img{
    height: 65px;
    border-radius: 60px;
    padding: 0px 10px;
}

#container{
    height: 73vh;
    background-color: rgb(13 13 13);
    display: flex;
}

.container-left{
    padding: 10px 0px;
    width: 50%;
    border-radius: 60px;
    background: #ffffff;
    overflow:scroll
    
}

.container-right{
    width: 50%;
}

.bottom{
    background-color: rgb(91, 81, 81);
    height: 13.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.songItem{
    height: 50px;
    border: 2px solid red;
    border-radius: 30px;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    background-color: #000000;
    color: #ffffff;

}

.text{
    font-family: cursive;
}

.image{
    height: 45px;
    width: 45px;
    border-radius: 20px;
}

.play{
    cursor: pointer;
    padding: 0px 6px;
}

.container-right{
    background-image: url('Background.jpg');
}

.icons{
    margin-top: 10px;
}

.icons i{
    padding: 0 8px;
    cursor: pointer;
}

#progressBar{
    cursor: pointer;
}

#gif{
    height: 40px;
    position: absolute;
    left: 8vw;
    opacity: 0;
    transition: opacity 0.6s ease-in;
}

#songText{
    position: absolute;
    left: 14vw;
    margin-top: 8px;
    color: white;
    font-weight: bolder;
    font-family: cursive;
}

@media only screen and (max-width: 600px){
  

    ul{
        height:  100%;
        flex-direction: column;
        flex-wrap: wrap;
    }

    li{
        margin: 5px 0px ;
    }

    .name{
        align-items:self-end;
    }

    .container-left{
        min-width: 100%;
        min-height: 80%;
    }

    
   .icons{
    flex-direction: column;
    flex-wrap: wrap; 
   }

   .bottom{
    text-align: left;
    flex-wrap: wrap;
    align-items:self-end;
    height: 100%;
   }
}

@media only screen and (max-width: 650px){
    #songText{
        width: 30%;
        flex-direction: column;
        flex-wrap:wrap;   
    }

    .bottom{
        text-align: left;
        flex-wrap: wrap;
        align-items:self-end;
    }

}